{% include "header.html" %}

{%if boardmsg%}
{% set alertmsg = boardmsg %}
<script> 
  
  alert("{{alertmsg}}") ;
</script>
{% endif %}

<header>
  <h2>{{subname}}</h2>
  
</header>  
  {% if boards %}

      <h3 style="color: gray;text-align:center">{{boards|length}}개 게시판</h3>

  <section>
    <table>
      <thead>
        {% if logon %}
      <th>check</th>
      {% endif %}
      <th>게시판</th>
      <th>만든날짜</th>
      <th>생성자</th>
      </thead>
      <form action="/boards/delete" method="post">
    {% for board in boards %}

      <tbody>
        {% if logon %}
        <td>
          <input type="checkbox" name="titles" value={{board.title}}>
        </td>
        {% endif %}
      <td>
        {% set boardlink = "/boards/sub/"+board.title+"?boardId="%}
        <a href={{boardlink}}{{board.id}}>
        {% if board.title|length > 10 %}
        <!--  -->
        {{board.title[:10]}}...
        <!--  -->
        {% else %} {{board.title}} {% endif %}
        </a>
      </td>
      <td>{{board.ts.strftime("%Y-%m-%d %H:%M")}}</td>
        <td>{{board.userid}}</td>

    </tbody>
    {% endfor %}
    </table>
    </section>

    <center> <input type="submit" value="삭제"/></center>
    </form>

  {% else %}
  <center><h3 style="color: gray">게시판이 없습니다</h3></center>
  {% endif %}

  {% if logon %}


<section>
  <form method="post" name = "게시판 추가">
    <label><b>게시판 추가</b></label>
    <input type="hidden" name="userid" value={{logon}} size="20" required>
    <input type="text" placeholder="게시판 이름" name="boardTitle" size="20" required/>

    <input type="submit" value="추가" formaction="/boards/add"/>     
  </form>
</section>
{% endif %}

{% include "footer.html" %}