<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script>
        var value = document.cookie
    </script>

  </head>

    <header>
      <nav>
      <h1><a href="/">{{title}}</a></h1>
        <ul>

            <li><a href="/boards">게시판</a></li>
            {% if logon %}
            <li><a href="/logout">로그아웃</a></li>
            <li><a href="/auth/manage">회원정보 수정</a></li> 
            {{logon}} 님
            {% else %}
            <li><a href="/regist">회원가입</a> </li>
            <li><a href="/login">로그인</a></li>
            {% endif %} 

        </ul>
    </nav>
</header>
<body>
