{% include "header.html" %}

{%if boardmsg%}
{% set alertmsg = boardmsg %}
<script> 
  
  alert("{{alertmsg}}") ;
</script>
{% endif %}
<main>
<header>
  <h2>{{subname}}</h2>

  {% if subBoards %}
</header>
      <h3 style="color: gray;text-align:center">{{subBoards|length}}개 게시물</h3>


  <section>
    <table>
      <thead>
      <th>게시물</th>
      <th>내용</th>
      <th>생성일</th>
      <th>수정일</th>
      <th>작성자</th>
      <th></th>
      </thead>
    {% for subBoard in subBoards %}
      <tbody>
      <td>
        {% set boardlink = "/boards/cmt/" %}
        {% set boardlinktail = "/" %}
        <a href={{boardlink}}{{subBoard.boardId}}{{boardlinktail}}{{subBoard.id}}>
        {% if subBoard.title|length > 10 %}
        <!--  -->
        {{subBoard.title[:10]}}...
        <!--  -->
        {% else %} {{subBoard.title}} {% endif %}
        </a>
      </td>
      <td>{{subBoard.desc}}</td>
      <td>{{subBoard.cts.strftime("%Y-%m-%d %H:%M")}}</td>
      <td>{{subBoard.uts.strftime("%Y-%m-%d %H:%M")}}</td>
      <td>{{subBoard.userid}}</td>
      
      <td>
        <a href={{boardlink}}{{subBoard.boardId}}{{boardlinktail}}{{subBoard.id}}>상세보기</a>
      </td>

    </tbody>
    </form>
    {% endfor %}
    </table>
    </section>


  {% else %}
  <center><h3 style="color: gray">게시물이 없습니다</h3></center>
  {% endif %}

  {% if logon %}


<section>
  <form method="post" name = "게시물 추가">
    <label><b>게시물 추가</b></label>
    <input type="hidden" name="userid" value={{logon}} size="20" required>
    <input type="hidden" name="boardTitle" value={{boardTitle}} size="20" required>
    <input type="hidden" name="boardId" value={{boardId}} size="20" required>
    <input type="text" placeholder="제목" name="sub_title" size="20" required/>
    <input type="text" placeholder="설명" name="sub_desc" size="20" required/>

    <input type="submit" value="추가" formaction="/boards/sub/add"/>     

  </form>
</section>
</main>
{% endif %}

{% include "footer.html" %}