{% include "header.html" %}

{%if boardmsg%}
{% set alertmsg = boardmsg %}
<script> 
  
  alert("{{alertmsg}}") ;
</script>
{% endif %}

<header>
  <h2>{{subname}}</h2>
  
</header>  
  {% if boards %}

      <h3 style="color: gray;text-align:center">{{boards|length}}개 게시물</h3>


  <section>
    <table>
      <thead>
        {% if logon %}
      <th>check</th>
      {% endif %}
      <th>게시물</th>
      <th>만든날짜</th>
      <th>생성자</th>
      </thead>
      <form action="/boards/delete" method="post">
    {% for board in boards %}

      <tbody>
      <td>
        {% set boardlink = "/boards/"+board.title %}
        <a href={{boardlink}}>
        {% if board.title|length > 10 %}
        <!--  -->
        {{board.title[:10]}}...
        <!--  -->
        {% else %} {{board.title}} {% endif %}
        </a>
      </td>
      <td>{{board.ts.strftime("%Y-%m-%d %H:%M")}}</td>
        <td>{{board.userid}}</td>

    </tbody>
    {% endfor %}
    </table>
    <center>
    </section>


  {% else %}
  <center><h3 style="color: gray">게시물이 없습니다</h3></center>
  {% endif %}

  {% if logon %}


<section>
  <form method="post" name = "게시물 추가">
    <label><b>게시물 추가</b></label>
    <label><b>제목</b></label>
    <input type="hidden" name="userid" value={{logon}} size="20" required>
    <input type="hidden" name="boardTitle" value={{boardTitle}} size="20" required>
    <input type="text" placeholder="제목" name="sub_title" size="20" required/>
    <label><b>설명</b></label>
    <input type="text" placeholder="설명" name="sub_desc" size="20" required/>

    <input type="submit" value="추가" formaction="/boards/sub/add"/>     


</section>
{% endif %}

{% include "footer.html" %}